@mixin mini-title {
    font-family: $text-font;
    font-size: 20px;

    @include desktop {
        font-size: 24px;
    }
}
@mixin hoverButton{    
    transition: 0.5s;
    &:hover{
        background-color: #F2EDEB;
        color: #F05365;
        cursor: pointer;
    }
}